<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Boton para Scanear</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-button (click)="scaner()">
          <ion-icon name="scan"></ion-icon>
          Scanner
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>



  <ion-grid fixed>
    <ion-row>
      <ion-col size="6">


      </ion-col>

    </ion-row>
  </ion-grid>


  sdsdsds


</ion-content>